.ThumbnailPage{
  margin: 0px 5%;
}
.titleInput{
  border-radius: 5px;
  border: darkgray 2px solid;
  padding: 5px;
}
.changeButtons > i{
  user-select: none;
  background-color: dodgerblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
}


.imageChanger{
display: flex;
  justify-content: space-evenly;
}
.changeGroup{
  text-align: center;
display: flex;
  justify-items: center;
  flex-direction: column;
}

body{
  background-color: dimgray;
}
.uitleg{
  width: fit-content;
  margin: auto;
}
.uitleg>li{
  width: fit-content;
}
header{
  margin: 5px;
}
.editFields{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.editFields >label{
  margin: 10px;
}

footer{
   margin: 10px;
   display: flex;
   justify-content: center;

 }
footer> button{
  font-size: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;

}
canvas{
  display: block;
  margin: auto;
  justify-self: center;
  cursor: move;
}
button{
  color:white;
  background: dodgerblue;
  border-radius: 5px ;
  padding: 15px;
  border: none;
}
p,label,ol{
  color: white;
  margin: 0;
  font-family: "Segoe UI";
}
ol{
  padding: 0px 15px;
}